<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Fill Form</h1>
    <form action="/users/<%= user.id %>" method="POST">
      <input
        type="text"
        name="username"
        placeholder="username"
        value="<%= user.username %>"
      />
      <!-- here name work as key while rendering body object -->
      <input
        type="text"
        name="email"
        placeholder="email address"
        value="<%= user.email %>"
      />
      <button type="submit">Add user</button>
    </form>
  </body>
</html>
